KMS_SECRET_KEY=
SEPOLIA_RPC_URL=
JWT_SIGNING_SECRET=
JWT_TOKEN_TTL_SECONDS=600
DEMO_CLIENT_ID=robot-demo-client
DEMO_CLIENT_SECRET=
PINATA_JWT=replace-with-pinata-jwt
PINATA_GATEWAY_URL=example.mypinata.cloud
SEPOLIA_DEPLOYER_PRIVATE_KEY=
AUDIT_ANCHORER_ADDRESS=
AUDIT_ANCHOR_CONTRACT_ADDRESS=0x-deployed-contract-address
AUDIT_ANCHOR_DEPLOYMENT_TX_HASH=0x-deployment-transaction-hash
SEPOLIA_CHAIN_ID=11155111



